<form action="/conversation" method="post"> 
    <input type="hidden" name="conversationid" value="<%= conversation._id %>">
    <button type="submit"><%= conversation.name %></button> 
  </form>
  